
.container-offers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 120px; /* Space at the top for filters */
  background:linear-gradient(to bottom, rgba(245, 250, 255, 0.9), rgba(225, 240, 255, 0.9));
  height: calc(100vh - 60px);
  overflow-y: auto; /* Activa el scroll vertical si el contenido es grande */

}

.skeleton-container {
  position: relative;
  background: linear-gradient(to bottom, rgba(245, 250, 255, 0.9), rgba(225, 240, 255, 0.9));
  min-height: 100vh;
  width: 100%;
  padding-top: 10px; /* Añade espacio en la parte superior para el filtro */
}

.filters-container {
  position: absolute;
  top: 20px; /* Ajusta la posición vertical del filtro */
  left: 50%; /* Centra el filtro horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  padding: 10px;
  border: 1px solid #b2d3f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(to bottom,rgba(245, 250, 255, 0.9), rgba(225, 240, 255, 0.9));
  max-width: 1300px; /* Coincide con el max-width de las ofertas */
  width: 90%; /* Ajusta el ancho para que no se desborde */
  z-index: 10; /* Asegura que el filtro esté por encima de otros elementos */
}

.filters-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: 600;
  color: #333;
}

.filters-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.filter-item {
  display: flex;
  flex-direction: column;
  width: 22%;
}


.filter-button {
  display: flex;
  flex-direction: column;
  width: 12%;
}

.filter-label {
  font-weight: 500;
  margin-bottom: 8px;
  color: #555;
}

.offer-list-container {
  width: 100%;
  max-width: 1300px; /* Coincide con el max-width de las ofertas */
  margin: 8px auto 0; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; 
}

.no-offers-center {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  height: 300px;
}
.clear-button {
  padding: 10px 16px;
  font-size: 0.9rem;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 25px;
}

.clear-button:hover {
  background-color: #0056b3;
}

.filter-input,
.filter-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
  width: 100%;
  background-color: #e9f4ff
}

.filter-input:focus,
.filter-select:focus {
  border-color: #007bff;
}