.card-offer {
    margin-left: 10px;
    margin-top: 20px;
    border: 5px solid #b2d3f4;
    border-radius: 10px;
    width: 15%;
    
   

}

.card-header {
    display: flex;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}



.search {
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: white;
    background-color: #2E81FB;
    border-radius: 8%;
}

.people {
    margin-left: 65%;
    font-size: 25px;
    background-color: #2E81FB;
    color: white;
    border-radius: 100px;
    
}