.btn-primary {
    justify-content: flex-end;
}

.container-card {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.card-principal {
    padding: 1%;
    width: 75%;
    border: 1px solid #b2d3f4;
    border-radius: 10px;
}