.header {
    display:flex;
    border: 1px solid #b2d3f4;
    justify-content: center;
}

.card-title {
    color: white;
    margin-right: 50%;
}

.elment{
    font-size: 30px;
    color: white;
    margin-left: 10%;
}


.container-sidebar-table{
display: flex;
}

.container-sidebar{
  height: 100%;
  width: auto;
  position: initial;
  z-index: 1;
  top: 0;
  left: 0;
    overflow-x: hidden;
  padding-top: 16px;   
  background-color:#D9D9D9;
     width: 280px;
     min-height: 500px;    
    
}

.table{
    width: 550%;
    
}

