.header {
    display:flex;
    border: 1px solid #b2d3f4;
    justify-content: center;
}

.card-title {
    color: white;
    margin-right: 50%;
}

.element{
    font-size: 30px;
    color: white;
    margin-left: 10%;
}


.sidebar {
    position: fixed;
    width: 12%;
    height: 100vh;
    background: #D9D9D9;
    font-size: 0.85em;
  }

.table-candidates {
  position: relative;
  width: 88%;
  float: right;
  height: 100%;
  
}

.nav {
    margin-top: 15%;
    font-weight: bold;
  }