.principal-profile {
    min-width: 480px;
    justify-content: center;
    margin: 5% 25%;
    align-items: center;
}

.profile {
    padding: 5%;
    display: flex;
    border: 1px solid #b2d3f4;
    border-radius: 10px;
}

.agregar {
    --bs-btn-font-weight: 400;
    --bs-btn-color: var(--bs-link-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-link-hover-color);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-link-hover-color);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.button {
    background-color: transparent;
    border: transparent;
    color: #2E81FB;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgba(0, 0, 0, 0.5);
}

.boton {
    background-color: #939393;
    border: none;
    border-radius: 0px 0px 10px 10px;
    width: 200px;
}

.pie-foto {
    clear: both;
    margin-top: 10px;
}

.select-province {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    width: 65%;
    margin-left: 10px;
    font-size: 100%;
    border: 1px solid #b2d3f4;
    border-radius: 10px;


}