

.navbar {
  background: var(--secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  
}

.dropdown-menu {
  background: var(--secondary); 

}

.dropdown-cuenta  .dropdown-toggle  {  
  background: var(--secondary); 
}