.principal {
    width:40%;
    justify-content: center;
    margin-top: 3%;
    margin-left: 15%;
    align-items: center;
    
}


.register {  
    padding: 2%;  
    display: flex;
    border: 1px solid #b2d3f4;
    border-radius: 10px;
}

