:root {
  --primary: #2E81FB;
  --primary-hover: #1b6ef5;
  --secondary: linear-gradient(to bottom,rgba(245, 250, 255, 0.9), rgba(225, 240, 255, 0.9));
  --accent-red: #FF4757;
  --accent-green: #4CD964;
  --background: #FAFBFF;
  --text-primary: #2D3748;
  --text-secondary: #718096;
  --border-color: #2E81FB;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  background: var(--secondary);
  height: calc(100vh - 60px);
  overflow-y: auto; 
}


.card-principal {
  background: var(--secondary);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 10px;
  border: 1px solid #b2d3f4;
  
}